    //////////////////////////
   //                      //
  //  js notebook styles  //
 //                      //
//////////////////////////

$DEBUG: #f0f; //should never be visible; used for layout debug
//$VFILL: 100%; //fill entire window height


///////////////////////////////////////////////////////////////////////////////
////
/// generic, high-level styles
//

//NOTE: caller should define top-level html/body/noscript styles
//included here just in case caller didn't

body //tty (green screen) style
{
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  white-space: pre-line;
  background-color: #333;
  color: #0c0;
  overflow: hidden auto; //vertical scroll only if needed; no horizontal scroll
  min-height: 100%; //fill entire window; CAUTION: parent height can't be "auto"
  margin: 0;
}

noscript //error message style
{
  font-weight: bold;
  font-size: 18px;
  background-color: #300;
  color: #f00;
  border-color: #f00;
  border: 2px solid;
  border-radius: 8px;
  padding: 6px 12px;
  margin: 6px 12px;
  position: fixed; //overlay previous content, no real estate
  top: 10%;
}

//!NEEDED-html
//{
//  height: 100%; //kludge: body needs to know parent's height
//}


///////////////////////////////////////////////////////////////////////////////
////
/// notebook page decorations
//

html
{
    background-color: #333; //dark backdrop behind notebook page
}

@mixin InkColor
{
    $PAPER: #ffc; //slight yellow tint
    $INK: #00c; //slight blue tint
    background-color: $PAPER;
    color: $INK;
}

.jsNotebook //body or div
{
//sizes:
    $RINGW: 52px; //ring image width
    $RINGH: 30px; //ring height
    $BORDERW: 2px;
    $SCROLLW: 10px; //allow space at right edge for conditional scrollbar
    $FUD: 6px; //nudge edge of paper
    $VPAD: 6px;
//colors:
//    $PAPER: #ffc; //slight yellow tint
//    $INK: #00c; //slight blue tint
    $EDGE: #660; //darker edge color

//notebook paper background:
//layout:
//    position: fixed; //absolute; //overlay previous content, no real estate
//    left: $RINGW + $LPAD; //leave space for notebook rings + a little padding
//    height: 100px; //auto;
    position: relative;
//    overflow: scroll;
    overflow: hidden auto; //vertical scrollbar if tab contents too big
    left: 0px;
    margin-top: $VPAD;
    margin-bottom: $VPAD;
    margin-left: calc(#{$RINGW} / 2);
    padding-left: calc(#{$RINGW} / 2 + #{$FUD});
    padding-right: 8px;
//notebook page cosmetics:
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: $BORDERW solid $EDGE; //calc($PAPER / 2);
    border-radius: 12px;
//    background-color: $PAPER;
//    color: $INK;
    @include InkColor;

//overlay notebook rings above/after notes for correct visual effect
//needs to be separate content so note padding/margin won't affect it:
    &::after
    {
        content: ""; //kludge: ::before/after need content
//cosmetics:
//    background: #ccc url(../images/bg_birch_800.gif) repeat-y 50% 0;
//        background-image: url("../graphics/rings.png");
//        background-repeat: no-repeat space; //horiz, vert
//	background-position: 0 $VPOS;
        background-image: url("../graphics/rings.png"); //url2base64
        background-repeat: no-repeat space; //horiz, vert
//	background-position: 50% 0; //0 $VPOS;
//        background-color: $DEBUG;
//        background-color: rgba(0, 0, 255, 0.4);
//layout:
        position: absolute;
        width: $RINGW;
        height: calc(100% - 2 * #{$BORDERW} - #{$RINGH});
        left: calc(-#{$RINGW} / 2); //put it back at left edge
        top: 0; //need with abs pos
        margin-top: calc(#{$RINGH} / 2);
        margin-bottom: calc(#{$RINGH} / 2);
    }
}


//reduce space around text blocks:
.jsNotebook > *
{
    margin-block-start: 0;
    margin-block-end: 0;
///////////////line-height: 1em; //https://stackoverflow.com/questions/1263074/how-do-i-reduce-the-vertical-space-between-list-items-in-an-unordered-list
}


///////////////////////////////////////////////////////////////////////////////
////
/// notebook element styling (notebook page contents)
//

h1, h2, h3, h4, h5, h6, h7, h8
{
//    border-bottom: 1px solid;
     text-decoration: underline;
//    font-size: 25em;
//    line-height: 0.1em;
//    padding-bottom: 0;
//    margin-bottom: 0; 
//NO    margin-block-start: 0; //no- leave space above heading
//    xmargin-block-end: 0; //keep heading closer to its text
//transform: rotate(-12deg); //TODO?

//extend underline out past text (looks less "boxey"):
//    &::before,
    &::after
    {
        content: "\a0\a0\a0\a0"; //"..."; //non-printing spaces
    }
}

//pad a little before heading:
//NOTE: needs parent selector in order to override previous styling
.jsNotebook > h1 { margin-block-start: 0.6em; }


//still too much space, reduce more:
//li { margin: 1em 3em; padding: 0.2em; }
//li { margin: 0; line-height: 0.5em; }
//ul { margin: 0; line-height: 0.5em; } //TODO: why does <ul> need this, not <ol>?
//ol { margin: 0; line-height: 0.5em; }


.footnotes //generated by showdown-toc
{
//    background-color: #fcc; //debug
    @include InkColor;
    hr
    {
//    padding: 4px 0;
//!worky    height: 2px; //make line thicker
        height: 0px; //https://stackoverflow.com/questions/4151743/how-can-i-change-the-thickness-of-my-hr-tag
        border: none;
        border-top: 2px solid;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    ol
    {
        line-height: 0.6em;
        margin-block-start: 0;
        margin-block-end: 0;
//        margin: 0;
    }

    li p
    {
        margin: 0; //reduce white space around footnotes
    }

//    p
//    {
//        line-height: 0.6em;
// background-color: #ffa;
//    }
//    li
//    {
//        line-height: 0.3em;
//    }
//    a
//    {
//        line-height: 0.3em;
// background-color: #ffa;
//    }
//    br
//    {
//        line-height: 0.3em;
//    }
}


//input[type="checkbox" i]
//{
//  background-color: #008;
//    xmargin-block-start: 0;
//    xmargin-block-end: 0;
//line-height: 0.2em; //https://stackoverflow.com/questions/1263074/how-do-i-reduce-the-vertical-space-between-list-items-in-an-unordered-list
//}

//li.task-list-item
//{
//  background-color: #080;
//    xmargin-block-start: 0;
//    xmargin-block-end: 0;
///////////////line-height: 0.2em; //https://stackoverflow.com/questions/1263074/how-do-i-reduce-the-vertical-space-between-list-items-in-an-unordered-list
//}

//notes styles:
//raw text becomes <p> in browser
//p,
//ul, li
//{
//    border: 1px solid #aaa;
//    margin: 0;
//    padding: 0;
//don't put too much space between text blocks:
//    xmargin-block-start: 0;
//    xmargin-block-end: 0;
//xline-height: 1em; //https://stackoverflow.com/questions/1263074/how-do-i-reduce-the-vertical-space-between-list-items-in-an-unordered-list
//}


//ul { list-style: none; }
//ul li { display: inline-block; }

//p + ul
//{
//    margin-block-start: 0;
//    margin-block-end: 0;
//background-color: #f00;
//margin: 1px;
//padding: 1px;
//}


//no longer used
/*
.header,
.footer
{
//    margin-top: -60px; //kludge: reposition BOS header
    font-style: italic;
    position: sticky;
    width: 100%;
    margin-top: 4px;
    margin-botton: 4px;
}

.header
{
    top: 14px; //20px; //sticky needs position
    border-bottom: 1px solid; //inherit ink color
//    &::after { content: "<hr/>"; }
}

.footer
{
    bottom: 6px; //sticky needs position
    border-top: 2px solid; //1px double; //inherit ink color
//    &::before { content: "<hr/>"; }
    margin-top: auto; //position automatically after flex content above
}
*/


///////////////////////////////////////////////////////////////////////////////
////
/// helpers
//

//drag+drop styles from MDN API example http://jsfiddle.net/radonirinamaminiaina/zfnj5rv4/ 

draggable
{
    width: 200px;
    height: 20px;
    text-align: center;
    background-color: white;
}

.dropzone
{
    width: 200px;
    height: 20px;
    background-color: blueviolet;
    margin-bottom: 10px;
    padding: 10px;
}


///////////////////////////////////////////////////////////////////////////////
////
/// obsolete/junk -notebook page contents
//

SKIP-h1
{
//    font-size: 25em;
    line-height: 0.1em;
//    padding-bottom: 0;
//    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.ge_canvas
{
    border: 1px solid #000;
}

.SKIP-CodeMirror-scroll
{
    border: 1px solid #f00;
}


.OLD-tabstrip
{
    overflow: hidden;
//    border-bottom: 1px solid #ccc;
//    width: 100%;
//    background-color: #f1f1f1;
    white-space: normal; //override notebook (fka nb-scroller)
    position: fixed; //don't scroll, no real estate
//    position: sticky; //keep real estate, don't remove from stack
//    margin-top: 2px;
    top: 0;
//    float: right;
    right: 24px;

    &::before,
    &::after
    {
	content: "\a0\a0\a0"; //"..."; //non-printing spaces
	float: left;
        border-bottom: 1px solid; //none;
        padding: 2px + 1px 4px 2px 4px; //4px 6px; //+1 to align with button border
//        padding-bottom: 2px + 1px; //+1 to align with button border
        font-size: 12px; //17px;
    }

    button
    {
//    background-color: inherit;
        float: left;
        border: 1px solid; //none;
//        border-bottom: none;
        border-radius: 2px 6px 0 0; //4px 4px 0 0; //TL, TR, BR, BL
        outline: none;
        cursor: pointer;
//    padding: 14px 16px;
        padding: 2px 4px; //4px 6px;
//        margin: 0 0 0 4px;
        transition: 0.1s;
        font-size: 12px; //17px;
//        background-color: #f1f1f1;
        background-color: #ccc; //inactive
//        color: #aaf;

        &:hover,
        &.active
        {
//            color: $ INK; //#00f;
            background-color: PAPER; //#ccc;
        }
        &.active
        {
//    background-color: #ddd;
            border-bottom: none;
        }
    }
}

.OLD-tab-content
{
    display: none; //hide until tab selected
//    padding: 6px 12px;
//    border: 1px solid #ccc;
//    border-top: none;
    overflow: hidden auto; //vertical scrollbar if tab contents too big
//    height: calc(); //kludge: need fixed height to show scroll bar
//    flex: 1; //stretch to fill
//    position: sticky; //keep real estate, don't remove from stack
    position: absolute; //kludge: need absolute position, width + fixed height for auto scroll bar to work
    width: calc(100% - 2px);
    top: 32px; //TODO: allow variable header
    bottom: 26px; //TODO: allow variable footer

//    margin: 1px;
//    padding: 1px;
//    TABH: 0px; //40px;
//    LPAD: 8px; //pad left edge of paper
//    VPAD: 2px;
//    width: calc(100% - #{RINGW} - #{LPAD} - #{VPAD});
//    left: RINGW + LPAD; //leave space for notebook rings + a little padding
//    height: calc(100% - #{TABH} - 2 * #{VPAD}); //tab height + pad
//    position: relative; //CAUTION: need this in order to display
}


//eof
