//js notebook styles

$BAD: #f0f; //should never be visible; used for layout debug
//$VFILL: 100%; //fill entire window height


///////////////////////////////////////////////////////////////////////////////
////
/// generic high-level elements:
//


html
{
//no; decide later:    background-color: $BAD; //for debug; should not show if window is filled
    height: 100%; //kludge: body needs to know parent's height
}


//make it look like tty console unless overridden:
body //, html
{
//    x-font-family: Arial, Helvetica, sans-serif;
//    x-font-family: "Times New Roman", Times, serif;
    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
    background-color: #333;
    color: #0c0;
//    x-white-space: pre-wrap;
//    x-position: absolute;
//    x-left: 0; x-top: 0;
//    x-margin: 2px 4px;
//    x-padding: -25px;
    min-height: 100%; //fill entire window; CAUTION: parent height can't be "auto"
    margin: 0;
//    x-padding: 20px 40px;
}

//make it look like error message:
noscript
{
    $COLOR: #f00;
    background-color: #300;
    border: 2px solid; //$COLOR;
    border-radius: 8px;
    color: $COLOR;
    border-color: $COLOR;
    font-weight: bold;
    font-size: 18px;
    padding: 6px 12px;
    margin: 6px 12px;
    margin-top: 40px; //kludge: this one needs to be separate so parent will honor it?
    position: fixed; //absolute; //overlay previous content, no real estate
    top: 10%;
//    x-white-space: normal;
}


form:invalid
{
    border: 2px solid red;
}


///////////////////////////////////////////////////////////////////////////////
////
/// notebook page decorations:
//

$RINGW: 52px; //ring image width
$PAPER: #ffc; //slight yellow tint
$INK: #00c; //slight blue tint

body
{
    flex-direction: column; //vertical stretch to fill (for footer placement)
    display: flex;
    min-height: 100%;
}

.notebook
{
    $BORDER: 2px;
    $FUD: 6px; //nudge edge of paper
    $LPAD: 8px; //pad left edge of paper; TODO: combine
    $EDGE: #660; //darker edge color
    $VPOS: 6px; //top edge
    $SCROLLW: 10px; //allow space at right edge for conditional scrollbar
//make body contents scrollable:
//    display: flex;
//    flex-direction: column;
//    overflow-x: hidden;
//    overflow-y: auto; //hidden; //prevent scrollbars
//    overflow: hidden; //prevent notebook graphics from scrolling
//    overflow-x: hidden;
//    overflow-y: auto; //auto; //scroll if notes are too big
//    overflow: hidden auto; //vertical scroll if notes are too big
    overflow: hidden;
//    flex-direction: column; //stretch content vertically to fill
//placement:
//    position: relative; //display above body bkgnd; "relative" allows multiple blocks to flow
    position: fixed;
    left: $RINGW + $LPAD; //leave space for notebook rings + a little padding
    width: calc(100% - #{$RINGW} - #{$LPAD}); // - #{$SCROLLW});
//no-use flex    height: 100%;
//    scrollbar-width: thin;
//no worky:    scrollbar-color: $EDGE $PAPER; //thumb + track color
//share position with scroller; needs explicit copy (JavaScript can't access ::before)
//    #nb-scroller, &::before
//    #notebook, &::before
//notebook cosmetics:
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $INK;
//    white-space: pre-wrap; //white space is significant in markdown text; preserve it

    &::before
    {
//    float: left; //flow later elements to right
//        border: 1px solid #0ff;
//    margin-left: $RINGW / 2;
        width: calc(100% - #{$RINGW - $FUD} / 2 - 2 * #{$BORDER} - 0px); //leave room for rings + border
        position: fixed; //absolute; //overlay previous content, no real estate
        left: ($RINGW - $FUD) / 2;
//        padding-top: $VPOS; 
        top: $VPOS;
//    }
//notebook paper background:
//    &::before
//    {
        content: ""; //kludge: ::before/after need content
        height: calc(100% - #{$VPOS} - 2 * #{$BORDER}); //99% //leave room for border; CAUTION: parent height must be set
//        width: calc(100% - #{$RINGW - $FUD} / 2 - 2 * #{$BORDER} - 0px); //leave room for rings + border
        display: block; //enforce width/height
//        font-size: 80px;
        background-color: $PAPER;
        color: $BAD; //#f00; //for debug; should not show if body is filled
        border: $BORDER solid $EDGE;
        border-radius: 12px;
//        overflow: auto;
    }

//overlay notebook rings above/after notes for correct visual effect
//needs to be separate content so note padding/margin won't affect it:
    &::after
    {
        background-image: url("../graphics/rings.png");
        background-repeat: no-repeat space; //horiz, vert
	background-position: 0 $VPOS;
        content: ""; //kludge: ::before/after need content
//        height: 100%; //40px; //CAUTION: parent height must be set
//        height: calc(100% - #{$VPOS});
        width: $RINGW; //need to set a width in order to display
        display: block; //enforce width/height
//        position: absolute;
//float: left; //flow later elements to right
        position: fixed; //absolute; //overlay previous content, no real estate
        top: calc(#{$VPOS} + 10px); //0; 
	bottom: 10px; //$VPOS;
        left: 0;
//    z-index: 99;
    }
}

/*
.OBS-scroller
{
    $TABH: 0px; //40px;
    $LPAD: 8px; //pad left edge of paper
//    $FUD: 2px; //nudge edge of paper
    $VPAD: 2px;
//    width: 100%;
    width: calc(100% - #{$RINGW} - # {$LPAD} - # {$VPAD});
    left: $RINGW + $LPAD; //leave space for notebook rings + a little padding
    height: calc(100% - # {$TABH} - 2 * # {$VPAD}); //tab height + pad
//    position: fixed; //relative to browser window, no real estate
//    top: $TABH; //tab bar height
//    border: 2px dashed #f00; //DEBUG
    overflow: hidden auto; //vertical scroll if tab contents too big
//    overflow: scroll; //prevents scrollbars
//    flex: 1; //stretch to fill
}
*/

//body #nb-scroller //CAUTION: sass includes "body" prefix above; need to repeat it here to override
//{
//    height: auto; //use content from child notes
//    overflow-y: auto; //scroll if notes are too big
//    position: absolute; //CAUTION: need this in order to display above body bkgnd; "relative" allows multiple blocks to flow
//    padding-right: 20px;
//}

//pre,
//notes,
//.notes,
//#notes,
//textarea,
//body #nb-scroller //CAUTION: sass includes "body" prefix above; need to repeat it here to override left
/*
body #notebook //CAUTION: sass includes "body" prefix above; need to repeat it here to override left
{
    $SCROLLW: 10px; //allow space at right edge for conditional scrollbar
    $LPAD: 8px; //pad left edge of paper
//    @include nb-misc;
//    x-font-family: "Courier New", Courier, monospace;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
//    x-color: black;
//    x-background-color: 0;
//    color: #0f0;
    position: relative; //CAUTION: need this in order to display above body bkgnd; "relative" allows multiple blocks to flow
//    overflow: scroll; //prevents scrollbars
//  top: 0;
//    z-index: 99;
//    x-resize: none;
//    x-border: 2px dashed #f00;
//no worky:    margin-top: 0;
//no worky:    margin-left: 44px;
//    display: none; //block; //enforce left margin
//    :first-of-type
//insert wrapper for scrolling:
//    &:first-of-type::before
//    &:first-child::before
    NOPE-white-space: pre-wrap; //white space is significant in markdown text; preserve it
//    left: $RINGW;
//    width: calc(100% - #{$RINGW});
//    display: block; //enforce width/height
//  display: inline;
//    background-color: #f00;
//background: inherit;
    color: $INK;
//    margin-left: $RINGW;
//    margin-top: 0;
    left: $RINGW + $LPAD; //leave space for notebook rings + a little padding
    width: calc(100% - #{$RINGW} - # {$LPAD} - # {$SCROLLW});
}
*/


///////////////////////////////////////////////////////////////////////////////
////
/// notebook page contents:
//

.tabstrip
{
    overflow: hidden;
//    border-bottom: 1px solid #ccc;
//    width: 100%;
//    background-color: #f1f1f1;
    white-space: normal; //override notebook (fka nb-scroller)
    position: fixed; //don't scroll, no real estate
//    position: sticky; //keep real estate, don't remove from stack
//    margin-top: 2px;
    top: 0;
//    float: right;
    right: 24px;

    &::before,
    &::after
    {
	content: "\a0\a0\a0"; //"..."; //non-printing spaces
	float: left;
        border-bottom: 1px solid; //none;
        padding: 2px + 1px 4px 2px 4px; //4px 6px; //+1 to align with button border
//        padding-bottom: 2px + 1px; //+1 to align with button border
        font-size: 12px; //17px;
    }

    button
    {
//    background-color: inherit;
        float: left;
        border: 1px solid; //none;
//        border-bottom: none;
        border-radius: 2px 6px 0 0; //4px 4px 0 0; //TL, TR, BR, BL
        outline: none;
        cursor: pointer;
//    padding: 14px 16px;
        padding: 2px 4px; //4px 6px;
//        margin: 0 0 0 4px;
        transition: 0.1s;
        font-size: 12px; //17px;
//        background-color: #f1f1f1;
        background-color: #ccc; //inactive
//        color: #aaf;

        &:hover,
        &.active
        {
//            color: $INK; //#00f;
            background-color: $PAPER; //#ccc;
        }
        &.active
        {
//    background-color: #ddd;
            border-bottom: none;
        }
    }
}

.tab-content
{
    display: none; //hide until tab selected
//    padding: 6px 12px;
//    border: 1px solid #ccc;
//    border-top: none;
    overflow: hidden auto; //vertical scrollbar if tab contents too big
//    height: calc(); //kludge: need fixed height to show scroll bar
//    flex: 1; //stretch to fill
//    position: sticky; //keep real estate, don't remove from stack
    position: absolute; //kludge: need absolute position, width + fixed height for auto scroll bar to work
    width: calc(100% - 2px);
    top: 32px; //TODO: allow variable header
    bottom: 26px; //TODO: allow variable footer

//    margin: 1px;
//    padding: 1px;
//    $TABH: 0px; //40px;
//    $LPAD: 8px; //pad left edge of paper
//    $VPAD: 2px;
//    width: calc(100% - #{$RINGW} - #{$LPAD} - #{$VPAD});
//    left: $RINGW + $LPAD; //leave space for notebook rings + a little padding
//    height: calc(100% - #{$TABH} - 2 * #{$VPAD}); //tab height + pad
//    position: relative; //CAUTION: need this in order to display
}


///////////////////////////////////////////////////////////////////////////////
////
/// notes styling:
//

.header,
.footer
{
//    margin-top: -60px; //kludge: reposition BOS header
    font-style: italic;
    position: sticky;
    width: 100%;
    margin-top: 4px;
    margin-botton: 4px;
}

.header
{
    top: 14px; //20px; //sticky needs position
    border-bottom: 1px solid; //inherit ink color
//    &::after
//    {
//        content: "<hr/>";
//    }
}

.footer
{
    bottom: 6px; //sticky needs position
    border-top: 2px solid; //1px double; //inherit ink color
//    &::before
//    {
//        content: "<hr/>";
//    }
    margin-top: auto; //position automatically after flex content above
}


SKIP-h1
{
//    font-size: 25em;
    line-height: 0.1em;
//    padding-bottom: 0;
//    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.ge_canvas
{
    border: 1px solid #000;
}

.SKIP-CodeMirror-scroll
{
    border: 1px solid #f00;
}


///////////////////////////////////////////////////////////////////////////////
////
/// JUNK:
//

/*
body
{
    background: royalblue;
}
.splitpanes__pane
{
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
}
.splitpanes__pane > span,
.splitpanes__pane > div,
.splitpanes__pane > p
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 48pt;
  color: royalblue;
  opacity: 0.6;
}
body, html, #editor
{
  margin: 0;
  height: 100%;
  font-family: "Helvetic Neue", Arial, sans-serif;
  x-padding: 0;
  background-color: #333;
}
textarea, #editor div
{
  display: inline-block;
  width: 49%; height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 2px;
}
textarea
{
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: "Monaco", courier, monospace;
  padding: 20px;
}
code
{
  color: #f66;
}
html, body, #app
{
  height: 100%;
  margin: 0;
}
body
{
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 5em;
}
.multipane.layout-v, .multipane-resizer
{
  margin: 0;
  left: 0;
  width: 15px;
  background-color: #08f;
}
*/

//eof
